{% extends "base.html" %}
{% block content %}
<head>
    <title>{{ course.name }}</title>
</head>
 
    <h1>{{ course.name }} ({{ course.code }})</h1>
    <br>
    <p><strong>Instructor:</strong> {{ course.instructor }}</p>
    <p><strong>Semester:</strong> {{ course.semester }}</p>
    <p><strong>Schedule:</strong> {{ course.schedule }}</p>
    <p><strong>Classroom:</strong> {{ course.classroom }}</p>
    <p><strong>Prerequisites:</strong> {{ course.prerequisites }}</p>
    <p><strong>Grading:</strong> {{ course.grading }}</p>
    <p><strong>Description:</strong> {{ course.description }}</p>
    <div class="mt-5">
        <p class="text-center mt-4">
        <a href="{{ url_for('course_catalog') }}" class="btn btn-primary btn-lg">Back to Catalog</a>
        </p>
    </div>
</body>
{% endblock %}
